[submodule "thin"]
	path = thin
	url = https://github.com/xufei/thin.git
[submodule "ng-control"]
	path = ng-control
	url = https://github.com/xufei/ng-control.git
[submodule "ng-charts"]
	path = ng-charts
	url = https://github.com/xufei/ng-charts.git
[submodule "ng-chess"]
	path = ng-chess
	url = https://github.com/xufei/ng-chess.git
[submodule "ng-tutor"]
	path = ng-tutor
	url = https://github.com/xufei/ng-tutor.git
[submodule "ng-demo"]
	path = ng-demo
	url = https://github.com/xufei/ng-demo.git
[submodule "ng1-chess"]
	path = ng1-chess
	url = https://github.com/xufei/ng1-chess.git
[submodule "ng1-calendar"]
	path = ng1-calendar
	url = https://github.com/xufei/ng1-calendar.git
[submodule "ng1-portal"]
	path = ng1-portal
	url = https://github.com/xufei/ng1-portal.git
