[submodule "mis"]
	path = mis
	url = https://github.com/xufei/mis.git
[submodule "thin"]
	path = thin
	url = https://github.com/xufei/thin.git
[submodule "ng-control"]
	path = ng-control
	url = https://github.com/xufei/ng-control.git
[submodule "ng-charts"]
	path = ng-charts
	url = https://github.com/xufei/ng-charts.git
[submodule "ng-chess"]
	path = ng-chess
	url = https://github.com/xufei/ng-chess.git
